@import '../../styles/colors';

.mainWrapper {
	margin: 0;
	height: 170px;
	background-color: $danger-color;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 2.5px 1px #cccccc;
}

	h1 {
		margin: 0;
		font-size: 60px;
		text-align: center;
	}

.inputSubmitWrapper {
	padding-top: 100px;
	background-color: $primary-color;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 30px;
	}

}