@import '../room/submit/style';

.resultWrapper {
	max-width: 960px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 1px auto;
	padding-right: 25px;
}

@media only screen and (max-width: 600px) {

 .resultWrapper {
 	padding: 10px;
 }


}