@import '../room/submit/style';

.resultWrapper {
	max-width: 960px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 15px auto;
	padding-right: 25px;
}

.randomButton {
	@extend .nextButton;
	font-size: 30px;
	padding: 20px 25px;
	margin: 10px;
}